@charset "UTF-8";

/*Desktop or Global View*/

header {
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: rgba(227,14,18,0.48);
}
.container {
    padding-top: 7px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 7px;
    margin-top: 19px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
nav {
    float: right;
}
.colorado {
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
}
.textstudy {
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
    text-align: left;
    font-size: 64pt;
    color: rgba(239,14,18,1.00);
    text-decoration: overline;
}


/*Tablet View*/

@media (min-width: 401px) and (max-width: 768px){
header {
    background-color: rgba(237,243,16,1.00);
}
.colorado {
		max-height: 100%;	
	}
.textstudy {
    color: rgba(15,36,226,1.00);
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 53pt;
    text-align: center;
    text-decoration: underline;
}
}


/*Mobile View*/

@media (max-width: 400px){
header {
    background-color: rgba(5,4,4,1.00);
}
	.colorado {
    max-height: 100%;
    max-width: 100%;
	}
.textstudy {
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-size: 23pt;
    color: rgba(22,185,22,1.00);
    text-decoration: line-through;
    text-align: justify;
}
}
